node_modules/
.next/
dist/
.turbo/
coverage/
.env
.env.local
playwright-report/
test-results/
.terraform/
.terraform.*/
build/
*.tfstate
*.tfstate.*
*.auto.tfvars
*.auto.tfvars.json
crash.log
*.tfplan
gha-creds-*.json
